*{
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}

body {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}

h1 {
    background-color: black;
    color: red;
    padding: 50px;
    margin: 30px;
    justify-content: center;
    font-family: 'REM', sans-serif ;
}

#caixa-flex {
    background-color: rgb(39, 39, 39);
    padding: 50px;
    margin: 40px;
}